*{
    background-color: transparent;
    margin: 0;
    padding: 0;
}
   
section{
    position: absolute;
    right: 30px;
    height: 500px;
    width: 500px;
    margin-top: 10rem;
    background-color: rgb(191, 231, 231);
}
div{
    border: 5px outset rgb(172, 2, 2);
  background-color: rgb(225, 228, 230); 
  height: 30rem;
  flex-direction: row;
  text-align: center;

}
